.photo {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.gallery {
  max-width: 600px;
  margin: 0 auto;
}


@media screen and (min-width: 600px) {
  
  .gallery {
    font-size: 0;
  }
  
  .gallery .photo {
  display: inline-block;
  width: 50%;
  }
  
  .gallery.quarters .photo {
    width: 25%;
  }
  
  .gallery .tripled {
    width: 33%;
    margin: 0 auto;
    display: block;
    position: relative;
  }
  
  .gallery .tripled:before {
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    background: url(../images/rocket1.jpg) center no-repeat;
    background-size: contain;
    position: absolute;
    top: -5%;
    left: -101%;
  }
  
  .gallery .tripled:after {
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    background: url(../images/rocket1.jpg) center no-repeat;
    background-size: contain;
    position: absolute;
    top: -5%;
    right: -101%;
  }
}
